@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    font-family: Montserrat, sans-serif;
    color: whitesmoke;
    background: url(./img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    justify-content: center;
}

header {
    margin: auto;
    width: 80%;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;

}

li {
    padding-bottom: 20px;
}

a {
    color: whitesmoke;
}

a:hover {
    color: #e30022;
}

.overlay {
    background: rgba(43.9, 50.2, 56.5, 0.8);
    margin: 2% auto;
    width: 80%;
    max-width: 1400px;
    padding: 30px;
    border-radius: 10px;
    font-size: 1.3rem;
}

.img-container {
    display: flex;
    justify-content: center;
}